<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Video:</strong>
  <%= @lesson.video %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
