<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Seminario Bautista Vida Nueva</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Mostrar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Seminario Bautista Vida Nueva</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% Course.all.map{ |c| %>
                  <li><%= link_to c.name, course_information_path(c) %></li>
                <% } %>
              </ul>
            </li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Cerrar sesion</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <p>
          Seminario Bautista Vida Nueva - <%= Time.now.year %>
        </p>
      </div>
    </div>

</body>
</html>
